[Unit]
Description=Install new Baja Blast packages from GitHub
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/baja-blast/upgrade
